@charset "UTF-8";

@font-face {
    font-family: idroid;
    src: url(fontes/idroid.otf) format("opentype");
}

@font-face {
    font-family: bebasneue;
    src: url(fontes/BebasNeue-Regular.ttf) format("truetype");
}

:root {
    --blue1: #0060af;
    --blue2: #003c6d;
    --blue3: #001c35;

    --default-font: Arial, Helvetica, sans-serif;
    --header-font: 'bebasneue', cursive;
    --android-font: 'idroid', cursive;
}

body {
    font-family: var(--default-font);
    margin: 0px;
}

p {
    text-align: justify;
}

/* DESKTOP */

/*HEADER*/
header {
    color: white;
    background-image: linear-gradient(var(--blue1), var(--blue2));
    margin: 0px;
    padding-bottom: 40px;
}

header>h1 {
    font-family: var(--header-font);
    font-size: 4em;
    font-weight: 200;

    text-shadow: 2px 2px 1px rgba(0, 0, 0, 0.493);
    text-align: center;

    margin: 0px;
    padding: 80px 10px 10px 10px;

}

header>p {
    font-size: 1.2em;
    text-align: center;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.445);
    padding: 10px;
    margin: 0px;
}

/* NAV */
nav {
    background-color: var(--blue2);
    position: sticky;
    top: 0;
    text-align: center;
    padding: 10px 20px 10px 20px;
}

nav>a {
    color: white;
    text-decoration: none;
    font-weight: bold;

    border-radius: 3px;
    padding: 10px;

}

nav>a:hover {
    background-color: #ffffff8c;
    color: black;
}


/*main*/

div.artigo {
    background-color: white;
    max-width: 1000px;
    margin: auto;
    padding: 20px;
}

main h1 {
    font-family: var(--android-font);
    font-size: 1.7em;
    font-weight: 200;

    color: var(--blue2);
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.205);

    margin-top: 0px;
}

main h2 {
    color: white;
    font-family: idroid, cursive;
    font-size: 1.3em;
    font-weight: 100;

    background-image: linear-gradient(90deg, var(--blue2)20%, transparent 95%);
    margin-top: 3em;
    padding: 2px 10px;
    border-radius: 10px 0 0 10px;
}

main p {
    line-height: 1.8em;
}

main img {
    display: block;
    margin: auto;
    width: 100%;
}

main img.pequena {
    display: block;
    margin: auto;
    max-width: 350px;
}

div.video {
    text-align: center;
    background-color: var(--blue2);
    padding: 50px 0;
}

div.video>iframe {
    border: 5px solid var(--blue3);
}

/* ASIDE */
aside {
    max-width: 900px;
    border: 2px solid black;

    margin: 80px auto;
    padding: 10px 8vw;
}

aside>h3 {
    text-align: center;
    font-size: 1.5em;
    margin: 30px 0;
}

aside p.obs {
    font-size: 0.8em;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;

    margin: 30px auto;
    width: fit-content;

    background-color: rgb(218, 218, 218);
    padding: 0 5px;
    border-radius: 5px;
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.466);

}

aside ul {
    columns: 2;
    max-width: fit-content;

    padding: 0px;
    padding-inline-start: 0px;

    margin: 50px auto;
}

aside li {
    display: block;
    width: fit-content;
    text-align: center;
    padding: 3px 8px;
    line-height: 1.5em;
}

aside li::before {
    content: '🔵 ';
    font-size: 10px;
    color: var(--blue2);

}

aside abbr {
    text-decoration: none;
    padding: 3px 8px;
}

aside abbr:hover {
    background-color: rgba(255, 255, 0, 0.699);
    border-radius: 4px;
}


/* FOOTER */
footer {
    text-align: center;
    color: white;
    background-color: var(--blue3);
}

footer>p {
    text-align: center;
    padding: 5px;
    margin-bottom: 0px;
    margin-block-start: 40px;
}

footer a {
    color: white;
}








/* CELULAR */
@media (max-width: 470px) {

    /* header */
    header h1 {
        padding: 30px 5px 5px 5px;
        font-size: 15vw;
    }

    header p {
        font-size: 4.3vw;
    }

    /* nav */
    nav {
        font-size: 3vw;
        padding-left: 5px;
        padding-right: 5px;
    }

    nav a {
        padding: 5px;
        margin-right: 10px;
    }

    /* main */
    main.artigo {
        padding: 5px;
    }

    main h1 {
        text-align: center;
        font-size: 6.6vw;
    }

    main h2 {
        font-size: 5vw;
        text-align: center;
        border-radius: 10px;
        background-color: var(--blue2);
    }

    /* aside */

    aside {
        padding: 5px 15px;
        margin: 20px 0 40px 0;
    }

    aside h3 {
        margin: 20px 0;
        font-size: 7vw;
    }

    aside ul {
        columns: 1;
    }

    /* footer */
    footer {
        padding: 0;
        font-size: 3.3vw;
    }

    footer p {
        margin-block-start: 0px;
    }
} */









/*config for less than 720px */
@media (min-width: 471px) and (max-width: 720px) {

    /* HEADER */
    header p {
        font-size: 2.4vw;
    }

    /* MAIN */
    main h1 {
        text-align: center;
        font-size: 4.6vw;
    }

    main h2 {
        font-size: 1.3em;
        text-align: center;
        border-radius: 10px;
        background-color: var(--blue2);
        /*background-image: linear-gradient(90deg,var(--blue2)40%,var(--alpha));*/
    }

    /* ASIDE */
    aside ul {
        columns: 1;
        margin: 10px auto;
    }
}







/* placeholder div video */
@media (max-width: 595px) {
    div>iframe {
        width: 85vw;
    }
}